.event-card-thq-event-card-elm {
  width: 100%;
  display: flex;
  grid-gap: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 34px;
  padding-bottom: 30px;
  background-color: var(--dl-color-scheme-white);
}
 
.event-card-image {
  width: 140px;
  height: 140px;
  min-width: 140px;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.event-card-thq-vertical-line-elm {
  width: 1px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(144, 149, 167, 0.2);
}
 
.event-card-container {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.event-card-thq-title-elm {
  color: var(--dl-color-scheme-darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.event-card-thq-text-elm {
  color: var(--dl-color-scheme-darkblue);
  font-size: 14px;
  text-transform: none;
}
 
@media(max-width: 767px) {
  .event-card-thq-event-card-elm {
    align-items: stretch;
  }
}
 
@media(max-width: 479px) {
  .event-card-thq-event-card-elm {
    grid-gap: 15px;
    align-items: center;
    flex-direction: column;
  }
  .event-card-thq-vertical-line-elm {
    width: 100%;
    height: 1px;
  }
  .event-card-container {
    align-items: center;
  }
  .event-card-thq-title-elm {
    text-align: center;
  }
  .event-card-thq-text-elm {
    text-align: center;
  }
}
