.navigation-links-wrapper {
  display: contents;
}
 
.navigation-links-thq-nav-elm {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text {
  color: #9c0606;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}
 
.navigation-links-text:hover {
  color: var(--dl-color-scheme-brown);
}
 

 

 

 

 

 

 

 

 
.navigation-linksroot-class-name17 {
  margin-right: var(--dl-layout-space-threeunits);
}
 
@media(max-width: 767px) {
  .navigation-links-thq-nav-elm {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.navigation-links-wrapper-j9lh {
  display: contents;
}
 
.navigation-links-thq-nav-elm1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text1 {
  color: #9c0606;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}
 
.navigation-links-text1:hover {
  color: var(--dl-color-scheme-brown);
}
 

 

 

 

 

 

 

 

 
.navigation-linksroot-class-name17 {
  margin-right: var(--dl-layout-space-threeunits);
}
 
@media(max-width: 767px) {
  .navigation-links-thq-nav-elm1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text1 {
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.navigation-thq-header-elm {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
 
.navigation-thq-max-width-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navigation-thq-nav-elm1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-thq-register-elm1 {
  color: #9c0606;
}
 
.navigation-thq-burger-menu-elm {
  display: none;
}
 
.navigation-thq-icon-elm {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
 
.navigation-thq-nav-elm2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
}
 
.navigation-thq-container-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navigation-thq-close-mobile-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
 
@media(max-width: 991px) {
  .navigation-thq-nav-elm1 {
    display: none;
  }
  .navigation-thq-burger-menu-elm {
    display: flex;
  }
}
 
@media(max-width: 767px) {
  .navigation-thq-max-width-elm {
    padding: var(--dl-layout-space-unit);
  }
}
