.navigation-links-thq-nav-elm {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text {
  color: #9c0606;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}
 
.navigation-links-text:hover {
  color: var(--dl-color-scheme-brown);
}
 

 

 

 

 

 

 

 

 
.navigation-linksroot-class-name17 {
  margin-right: var(--dl-layout-space-threeunits);
}
 
@media(max-width: 767px) {
  .navigation-links-thq-nav-elm {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-layout-space-unit);
  }
}
