.portofolio-card-thq-speaker-card-elm {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.portofolio-card-thq-image-container-elm {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: 300px;
  max-height: 313px;
  min-height: 313px;
  align-items: flex-end;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: flex-end;
}
 
.portofolio-card-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}
 
.portofolio-card-thq-see-project-container-elm {
  flex: 1;
  width: 100%;
  cursor: pointer;
  display: flex;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(.jpg);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: row;
  justify-content: center;
}
 
.portofolio-card-thq-see-project-container-elm:hover {
  opacity: 1;
}
 
.portofolio-card-thq-first-name-elm {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
 

 

 

 

 

 

 

 

 

 

 

 

