.services-card-container {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: rgba(182, 71, 47, 0.1);
}
 
.services-card-image {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
 
.services-card-text1 {
  color: #9c0606;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.services-card-text2 {
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.services-card-fragment {
  display: contents;
}
 
.services-card-text3 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .services-card-text1 {
    color: #9c0606;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-layout-space-halfunit);
  }
}
